.idea
contracts/node_modules
contracts/deployments
op-prime/vendor
_datadir/geth
_hyperlane/db
_hyperlane/relayer_cache
_hyperlane/signatures
react-tutorial/node_modules
react-tutorial/.next
safe-hello/node_modules
next-tutorial/my-app/.yarn
node_modules
_hyperlane/base_db
_hyperlane/base_relayer_cache
_hyperlane/base_signatures
