[submodule "safe-infrastructure"]
	path = safe-infrastructure
	url = https://github.com/safe-global/safe-infrastructure.git
[submodule "explorer"]
	path = explorer
	url = https://github.com/blockscout/blockscout.git
